<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <!--Octicons-->
  <link href="assets/fonts/octicons/octicons.min.css" rel="stylesheet">
  
  <title>{{ page.title }} | {{ site.title }}</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Hi</a>
      <ul class="right">
        {%- for navitem in site.pages -%}
          <li><a href="{{ site.github.url }}{{ navitem.url }}">{{ navitem.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>
  {{ content }}
</body>
</html>
